{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true,
    "jasmine": true
  },
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "plugins": [
    "redux-saga",
    "jsx-a11y",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "jsx-a11y/click-events-have-key-events": "off", // TODO: turn this on
    "jsx-a11y/no-noninteractive-element-interactions": "off", // TODO: turn this on
    "jsx-a11y/no-onchange": "off" // TODO: turn this on
  }
}